<!--suppress HtmlFormInputWithoutLabel -->
<div class="flex">
  <div class="rating rating-lg center">
    <input type="radio" [name]="name" class="mask mask-star-2 bg-yellow-400" />
    <input type="radio" [name]="name" class="mask mask-star-2 bg-yellow-400" checked />
    <input type="radio" [name]="name" class="mask mask-star-2 bg-yellow-400" />
    <input type="radio" [name]="name" class="mask mask-star-2 bg-yellow-400" />
    <input type="radio" [name]="name" class="mask mask-star-2 bg-yellow-400" />
  </div>
</div>
