<div>
  <div class="container-sm max-w-4xl mx-auto min-h-screen" [ngClass]="{'ai-focused': focused}">
    <div class="absolute top-0 left-0 min-h-screen w-full bg-gray-200 opacity-50 z-10"
         [ngClass]="{
           'hidden': !focused
         }"
    >&nbsp;</div>
    <div class="my-0 mx-auto w-3/4">
      <img src="assets/ai_icon.png" alt="ai icon" class="my-0 mx-auto w-1/2 select-none">

      <div class="chat chat-end">
        <div class="chat-bubble chat-bubble-primary mb-4 select-none">
          <p><b>Greetings! I am your AI-powered review assistant!</b></p>
          <p>Simply let me know the product, service, or topic you want to review, and I'll help you craft the perfect review!</p>
        </div>
      </div>
      <app-ai-input (focus)="onAiInputFocus($event)"
                    (blur)="onAiInputBlur($event)"
                    (go)="onAiInputGo($event)"
                    [loading]="loading"
      />

    <div class="bg-[#65c3c8] rounded-xl p-4 my-4" *ngIf="ratingDimensions.length > 0">
       <table>
         <tbody>
          <tr *ngFor="let ratingDimension of ratingDimensions; index as i">
            <td><b>{{ ratingDimension.name }}</b></td>
            <td>{{ ratingDimension.description }}</td>
            <td>
              <app-rating-stars [name]="i + '-app-rating-stars'"
                                [label]="ratingDimension.name"
                                (radioClick)="onRatingChange($event)"
              /></td>
          </tr>
         </tbody>
       </table>
    </div>

      <div class="w-full"
           *ngIf="ratingDimensions.length > 0"
      >
        <button class="btn btn-lg block bg-[#20325e] text-white mx-auto"
                (click)="onClickWriteReview($event)"
        >write review</button>
      </div>
      <div class="chat chat-end mt-4"
           *ngIf="resultRatingText.length > 0"
      >
        <div class="chat-bubble chat-bubble-primary mb-4">
          {{ resultRatingText }}
        </div>
      </div>
    </div>
  </div>
</div>
